@import '../_abstracts/_all.scss';

html {
  background: $body-background-gradient-top;
}

body {
  margin: 0;
  background: $body-background;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0;
  list-style: none;
}
