@import '../_abstracts/all';

body {
  color: $body-color;
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: 1.5;
}

h1,
h2 {
  font-family: $heading-font;
  line-height: 1.15;
  font-weight: $font-weight-regular;
}

h1 {
  font-size: $heading-font-size;
}

h2 {
  font-size: $subheading-font-size;
}
