@import '../styles/_abstracts/all';

.Project {
  h2 {
    @include wider-than-container;

    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  img {
    box-sizing: border-box;  /* keep larger margin between images */
    border-bottom: 8px solid;
  }

  @each $project, $color in $projects {
    &[data-project='#{$project}'] {
      img {
        border-bottom-color: $color;
      }

      .Title::after {
        border-bottom-color: $color;
      }

      @include selection($color);
    }
  }
}

.Header {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.Title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0;

  &::after {
    display: block;
    content: '';
    border-bottom: 3px solid;
    width: 1em;
    margin: 15px auto;
  }
}
