<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300|Raleway|Roboto+Mono|Lato" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png?v=m2lO0wPjeM">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png?v=m2lO0wPjeM">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png?v=m2lO0wPjeM">
    <link rel="manifest" href="/assets/favicon/manifest.json?v=m2lO0wPjeM">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?v=m2lO0wPjeM" color="#2e2e2e">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=m2lO0wPjeM">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml?v=m2lO0wPjeM">
    <meta name="theme-color" content="#ffffff">
</head>
