<section 
    class="project-section  container"
    id="{{ include.project.slug }}-section"
    data-project="{{ include.project.slug }}"
>

    <div class="project-section__container">

        <h3 class="project-section__title" id="{{ include.project.slug }}">
            <a href="{{ include.project.permalink }}">
                {{ include.project.title }}
            </a>
        </h3>

        <div class="columns">
            <div class="column  project-section__tags">
                <ul>
                    {% for tag in include.project.tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="column  project-section__content">
                {{ include.project.excerpt | markdownify }}

                <a href="/{{ include.project.slug }}">More...</a>
            </div>
        </div>

    </div>

</section>