/*=============================================>>>>>
= Mixins =
===============================================>>>>>*/

@mixin accent(
  $direction,
  $margin-top: $accent-margin,
  $margin-right: auto,
  $margin-bottom: $accent-margin,
  $margin-left: auto,
  $thickness: $accent-thickness,
  $width: $accent-width
) {

  &:#{$direction} {
    display: block;
    content: "";

    width: $width;
    margin: $margin-top $margin-right $margin-bottom $margin-left;

    border-bottom: $thickness solid;
  }
}

/*= End of Mixins =*/
/*=============================================<<<<<*/
