/*----------- Typography -----------*/

$body-font: 'Open Sans', sans-serif;
$headings-font: 'Raleway', sans-serif;


/*----------- Colors -----------*/

$body-background: rgb(0, 0, 0);


/*----------- Misc -----------*/

$projects: (
                (charon, #59c1e6, #fff, #FED766),
                (virtual-observatory, #e9ecf6, #80859a, #1E5FC9),
                (serieslist, #7767c4, #fff, #A89ED9),
);
