@import '_reset';

@import '_variables';
@import '_mixins';

/* Table of contents
    1. = Generic styles =
    2. = Utilities =
    3. = Elements =
    4. = Project Page =
==============================================>>>>>>*/


/*=============================================>>>>>
= Generic styles =
===============================================>>>>>*/

body {
  font-family: $body-font;
  font-size: 18px;
  line-height: 1.5;

  background: $body-background;
}

h1 {
  font-family: $headings-font;
  font-size: 2em;
}

h2 {
  font-family: $headings-font;
  font-size: 1.75em;
}

p {
  margin-bottom: 1em;
}

.mega-title {
  font-size: 3.5rem;
}

.content {
  ul {
    list-style: disc;
    margin-left: 2rem;

    > li > ul {
      list-style: circle;
    }
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid;
  }
}

/*= End of Generic styles =*/
/*=============================================<<<<<*/


/*=============================================>>>>>
= Utilities =
===============================================>>>>>*/

.icon {
  display: initial;

  height: 40px;
  width: 40px;
}

.has-accent {
  &.has-accent--bottom:after {
    display: block;
    content: "";

    width: 1em;
    margin: 20px auto;

    border-bottom: 3px solid;
  }
}

/*= End of Utilities =*/
/*=============================================<<<<<*/


/*=============================================>>>>>
= Elements =
===============================================>>>>>*/

.header {
  padding-top: 120px;
  padding-bottom: 120px;

  color: #fff;
  text-align: center;

  h1 {
    text-transform: uppercase;
  }

  h2 {
    font-size: 1.5em;
  }
}

.project-section {
  @extend %flexbox;

  padding: 120px 50px;

  &:not(:first-of-type) {
    margin-top: 8em;
  }

  &:not(:last-of-type) {
    margin-bottom: 8em;
  }

  @each $project, $background, $color, $accent in $projects {
    &[data-project="#{$project}"] {
      background: $background;
      color: $color;

      .project-section__title:before {
        border-bottom-color: $accent;
      }

      a {
        color: $color;
        text-decoration: none;
        border-bottom: 1px solid $color;

        &:visited {
          color: $color;
        }
      }
    }
  }

  &:nth-of-type(2n) {
    flex-direction: row-reverse;
    text-align: right;

    .project-section__column--has-content {
      align-items: flex-end;
    }

    .project-section__title:before {
      margin-left: auto;
    }
  }
}

.project-section__column {
  flex: 1;

  &.project-section__column--has-content {
    @extend %flexbox;
    flex-direction: column;
    justify-content: space-between;

    padding-left: 5em;
    padding-right: 5em;
  }
}

.project-section__title {
  font-size: 3em;
  margin-bottom: .5em;

  &:before {
    content: "";
    display: block;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    width: 1em;
    margin-bottom: 15px;
  }
}

.project-section__tags {
  @extend %flexbox;
  flex-wrap: wrap;

  margin-left: -10px;
  margin-right: -10px;

  li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.footer {

  padding: 8em 0;

  font-size: 1.5em;
  font-weight: 300;

  text-align: center;
  color: #fff;

  p {
    font-weight: 300;
    margin-bottom: 1.5em;
  }

  .icon {
    margin: 0 auto;
    transition: all .2s ease-in;

    > g {
      fill: rgba(255, 255, 255, .6);
      transition: all .2s ease-in;
    }

    &:hover {
      transform: scale(1.1);

      > g {
        fill: rgba(255, 255, 255, 1);
      }
    }
  }
}


/*= End of Elements =*/
/*=============================================<<<<<*/



/*=============================================>>>>>
= Project Page =
===============================================>>>>>*/

$project-page-container: 720px;
$image-increased-size: 40px;
$project-page-container-breakpoint: $project-page-container + ($image-increased-size * 2);

.floating-back-button {
  position: absolute;
  top: 25px;
  left: 35px;

  > a,
  > a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2rem;
  }
}

.project-page {
  color: rgb(255, 255, 255);

  @each $project, $background, $color, $accent in $projects {
    &[data-project="#{$project}"] {
      img {
        border-bottom: 8px solid $background;
      }

      a,
      a:visited {
        color: $background;
        border-color: $background;

        &:hover {
          color: darken($background, 10%);
          border-color: darken($background, 10%);
        }
      }

      .has-accent--bottom:after {
        border-color: $background;
      }
    }
  }
}

.project-page__header {
  padding-top:    5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.project-page__content {
  max-width: $project-page-container;
  margin: 0 auto;

  img {
    margin-left: -$image-increased-size;
    margin-right: -$image-increased-size;
    max-width: calc(100% + #{$image-increased-size} + #{$image-increased-size});

    @media (max-width: $project-page-container-breakpoint) {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }
  }

  h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}


/*= End of Project Page =*/
/*=============================================<<<<<*/
