@import 'reset';

@import 'variables';
@import 'mixins';
@import 'placeholders';

@import 'vendor/tingle.min';

/* Table of contents
    1. = Generic styles =
    2. = Utilities =
    3. = Components =
    4. = Project Page =
==============================================>>>>>>*/



/*=============================================>>>>>
= Generic styles =
===============================================>>>>>*/

body {
  background: $body-background;

  color: $body-color;
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: 1.5;
}


h1 {
  font-family: $headings-font;
  font-size: $heading-font-size;
}


h2 {
  font-family: $headings-font;
  font-size: $subheading-font-size;
}


h3 {
  font-family: $headings-font;
  font-size: $lowest-heading-font-size;
  margin-bottom: 0.5rem;
}


pre,
code {
  font-family: $mono-font;
}


p,
pre {
  margin-bottom: $generic-margin-bottom;
}


a,
a:visited {
  color: inherit;
  text-decoration: none;

  border-bottom: 1px solid;
}


/*= End of Generic styles =*/
/*=============================================<<<<<*/



/*=============================================>>>>>
= Utilities =
===============================================>>>>>*/


.has-accent {
  &.has-accent--bottom {
    @include accent('after', $thickness: 3px);
  }

  &.has-accent--top {
    @include accent('before', $margin-top: 0, $margin-left: 0, $margin-right: 0);
  }
}


/*= End of Utilities =*/
/*=============================================<<<<<*/



/*=============================================>>>>>
= Components =
===============================================>>>>>*/


.title--large {
  font-size: $large-title-size;
}


.header {
  padding-top:    $header-padding;
  padding-bottom: $header-padding;

  text-align: center;

  &.header--main {
    padding-top:    $header-main-padding;
    padding-bottom: $header-main-padding;

    > .header__title {
      text-transform: uppercase;
    }
  }
}



.footer {
  padding: $footer-padding 0;

  text-align: center;
}

  .footer__text {
    margin-bottom: 2rem;

    font-size: $larger-text-size;
  }

  .footer__icon-link {
    border-bottom: none;
  }

  .footer__icon {
    transition: all .2s ease-in;

    > g {
      fill: rgba(255, 255, 255, .6);
      transition: all .2s ease-in;
    }

    &:hover {
      transform: scale(1.1);

      > g {
        fill: rgba(255, 255, 255, 1);
      }
    }
  }



.icon {
  height: $icon-size;
  width: $icon-size;
}



.floating-back-button {
  position: absolute;
  top: 25px;
  left: 35px;
}

  .floating-back-button__link {
    font-size: $larger-text-size;

    border-bottom: none;
  }



.tingle-modal {
  padding-top:    $modal-outer-padding;
  padding-bottom: $modal-outer-padding;

  overflow-y: scroll;
}

.tingle-modal-box {
  width: $modal-width;

  @media (max-width: 540px) {
    width: 100%;
  }
}

  .tingle-modal-box__content {
    padding: $modal-inner-padding;
  }



.container {
  max-width: $container-width;
  margin: 0 auto;

  @media (max-width: $container-width) {
    padding-left:  $column-gap;
    padding-right: $column-gap;
  }
}



.columns {
  display: flex;
}

  .column {
    flex: 1;
    padding-left:  $column-gap;
    padding-right: $column-gap;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }



.project-section {
  padding: 120px 50px;

  &:not(:first-of-type) {
    margin-top: 8em;
  }

  &:not(:last-of-type) {
    margin-bottom: 8em;
  }

  &:nth-of-type(2n) {
    @extend %columns--reverse;

    > .project-section__content {
      align-items: flex-end;
      text-align: right;
    }

    .has-accent--top:before {
      margin-left: auto;
    }
  }

  @each $project, $background, $color, $accent in $projects {
    &[data-project="#{$project}"] {
      background: $background;
      color: $color;

      .has-accent--top:before {
        border-bottom-color: $accent;
      }
    }
  }
}

  .project-section__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project-section__tags {
    display: flex;
    flex-wrap: wrap;

    margin-left:  -$project-tags-padding;
    margin-right: -$project-tags-padding;

    > li {
      padding-left:  $project-tags-padding;
      padding-right: $project-tags-padding;
    }
  }




/*= End of Components =*/
/*=============================================<<<<<*/



/*=============================================>>>>>
= Project Page =
===============================================>>>>>*/

.project-page {
  @each $project, $background, $color, $accent in $projects {
    &[data-project="#{$project}"] {
      img {
        border-bottom: $img-border-bottom-width solid $background;
      }

      a {
        border-color: $background;

        &:hover {
          color: $background;
        }
      }

      .has-accent--bottom:after {
        border-color: $background;
      }

      p::selection,
      code::selection,
      h1::selection,
      h2::selection {
        background: lighten($background, 15%);
      }

      p::-moz-selection,
      code::-moz-selection,
      h1::-moz-selection,
      h2::-moz-selection {
        background: lighten($background, 15%);
      }
    }
  }
}

  .project-page__content {
    img {
      @extend %wider-than-container;

      cursor: pointer;
    }

    h2 {
      @extend %wider-than-container;

      margin-top:    $project-page-title-margin-top;
      margin-bottom: $project-page-title-margin-bottom;
    }

    > .columns {
      @extend %wider-than-container;

      > .column img {
        @extend %as-wide-as-container;
      }
    }
  }


/*= End of Project Page =*/
/*=============================================<<<<<*/
