@import '_reset';

@import '_variables';
@import '_mixins';
@import 'vendor/tingle.min';

/* Table of contents
    1. = Generic styles =
    2. = Utilities =
    3. = Elements =
    4. = Project Page =
==============================================>>>>>>*/


/*=============================================>>>>>
= Generic styles =
===============================================>>>>>*/

body {
  font-family: $body-font;
  font-size: 16px;
  line-height: 1.5;

  background: $body-background;
}

h1 {
  font-family: $headings-font;
  font-size: 2em;
}

h2 {
  font-family: $headings-font;
  font-size: 1.75em;
}

h3 {
  font-family: $headings-font;
  font-size: 1.5rem;
}

p {
  margin-bottom: 1em;
}

pre,
code {
  font-family: $mono-font;
}

.mega-title {
  font-size: 3.5rem;
}

.content {
  ul {
    list-style: disc;
    margin-left: 2rem;

    > li > ul {
      list-style: circle;
    }
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid;
  }
}

/*= End of Generic styles =*/
/*=============================================<<<<<*/


/*=============================================>>>>>
= Utilities =
===============================================>>>>>*/

.icon {
  display: initial;

  height: 40px;
  width: 40px;
}

.has-accent {
  &.has-accent--bottom:after {
    display: block;
    content: "";

    width: 1em;
    margin: 20px auto;

    border-bottom: 3px solid;
  }
}

.container {
  max-width: $container-width;

  @media (max-width: $container-width) {
    padding-left:  5px;
    padding-right: 5px;
  }
}

.columns {
  display: flex;
}

.column {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }
}

.tingle-modal-box {
  width: 90%;

  @media (max-width: 540px) {
    width: 100%;
  }
}

.tingle-modal-box__content {
  padding: 1rem;
}

.tingle-modal {
  overflow-y: scroll;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

/*= End of Utilities =*/
/*=============================================<<<<<*/


/*=============================================>>>>>
= Elements =
===============================================>>>>>*/

.header {
  padding-top: 120px;
  padding-bottom: 120px;

  color: #fff;
  text-align: center;

  h1 {
    text-transform: uppercase;
  }

  h2 {
    font-size: 1.5em;
  }
}

.project-section {
  display: flex;
  padding: 120px 50px;

  &:not(:first-of-type) {
    margin-top: 8em;
  }

  &:not(:last-of-type) {
    margin-bottom: 8em;
  }

  @each $project, $background, $color, $accent in $projects {
    &[data-project="#{$project}"] {
      background: $background;
      color: $color;

      .project-section__title:before {
        border-bottom-color: $accent;
      }

      a {
        color: $color;
        text-decoration: none;
        border-bottom: 1px solid $color;

        &:visited {
          color: $color;
        }
      }
    }
  }

  &:nth-of-type(2n) {
    flex-direction: row-reverse;
    text-align: right;

    .project-section__column--has-content {
      align-items: flex-end;
    }

    .project-section__title:before {
      margin-left: auto;
    }
  }
}

.project-section__column {
  flex: 1;

  &.project-section__column--has-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-left: 5em;
    padding-right: 5em;
  }
}

.project-section__title {
  font-size: 3rem;
  margin-bottom: 0.5rem;

  &:before {
    content: "";
    display: block;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    width: 1em;
    margin-bottom: 15px;
  }
}

.project-section__tags {
  display: flex;
  flex-wrap: wrap;

  margin-left: -10px;
  margin-right: -10px;

  li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.footer {

  padding: 8em 0;

  font-size: 1.5em;
  font-weight: 300;

  text-align: center;
  color: #fff;

  p {
    font-weight: 300;
    margin-bottom: 1.5em;
  }

  .icon {
    margin: 0 auto;
    transition: all .2s ease-in;

    > g {
      fill: rgba(255, 255, 255, .6);
      transition: all .2s ease-in;
    }

    &:hover {
      transform: scale(1.1);

      > g {
        fill: rgba(255, 255, 255, 1);
      }
    }
  }
}


/*= End of Elements =*/
/*=============================================<<<<<*/



/*=============================================>>>>>
= Project Page =
===============================================>>>>>*/

.floating-back-button {
  position: absolute;
  top: 25px;
  left: 35px;

  > a,
  > a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5rem;
  }
}

.project-page {
  color: rgb(255, 255, 255);

  @each $project, $background, $color, $accent in $projects {
    &[data-project="#{$project}"] {
      img {
        border-bottom: 8px solid $background;
      }

      a,
      a:visited {
        color: $background;
        border-color: $background;

        &:hover {
          color: darken($background, 10%);
          border-color: darken($background, 10%);
        }
      }

      .has-accent--bottom:after {
        border-color: $background;
      }

      p::selection,
      code::selection,
      h1::selection,
      h2::selection {
        background: lighten($background, 15%);
      }

      p::-moz-selection,
      code::-moz-selection,
      h1::-moz-selection,
      h2::-moz-selection {
        background: lighten($background, 15%);
      }
    }
  }
}

.project-page__header {
  padding-top:    5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.project-page__content {
  margin: 0 auto;
  font-family: $mono-font;

  img {
    @extend %wider-than-container;

    cursor: pointer;
  }

  h2 {
    @extend %wider-than-container;

    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  > .columns {
    @extend %wider-than-container;

    > .column img {
      @extend %as-wide-as-container;
    }
  }
}


/*= End of Project Page =*/
/*=============================================<<<<<*/
