// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Home page.
// -----------------------------------------------------------------------------


.project-section {
  padding: 120px 50px;

  &:not(:first-of-type) {
    margin-top: 8em;
  }

  &:not(:last-of-type) {
    margin-bottom: 8em;
  }

  &:nth-of-type(2n) {
    @extend %columns--reverse;

    > .project-section__content {
      align-items: flex-end;
      text-align: right;
    }

    .has-accent--top:before {
      margin-left: auto;
    }

    @include until-container {
      flex-direction: column;

      > .project-section__content {
        align-items: flex-start;
        text-align: left;
      }
    }
  }

  @each $project, $background, $color, $accent in $projects {
    &[data-project="#{$project}"] {
      background: $background;
      color: $color;

      .has-accent--top:before {
        border-bottom-color: $accent;
      }

      @include until-container {

        .project-section__title {
          @include accent('after', $color: $accent, $margin-top: 25px, $margin-bottom: 25px);
        }
      }
    }
  }

  @include until-container {
    padding: 50px 20px;

    flex-direction: column;
  }
}

  .project-section__title {
    @include until-container {

      text-align: center;

      &::before {
        display: none;
      }
    }
  }

  .project-section__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project-section__tags {
    display: flex;
    flex-wrap: wrap;

    margin-left:  -$project-tags-padding;
    margin-right: -$project-tags-padding;

    > li {
      padding-left:  $project-tags-padding;
      padding-right: $project-tags-padding;
    }

    @include until-container {
      margin-top: 25px;
    }
  }
