// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Project page.
// -----------------------------------------------------------------------------


@each $project, $color in $projects {
  .project-page[data-project="#{$project}"] {

    @include selection($color);

    img {
      border-bottom: $img-border-bottom-width solid $color;
    }

    a {
      border-color: $color;

      &:hover {
        color: $color;
      }
    }

    .has-accent--bottom:after {
      border-color: $color;
    }
  }
}

  .project-page__content {
    img {
      @extend %wider-than-container;

      cursor: pointer;
    }

    h2 {
      @extend %wider-than-container;

      margin-top:    $project-page-title-margin-top;
      margin-bottom: $project-page-title-margin-bottom;
    }

    > .columns {
      @extend %wider-than-container;

      > .column img {
        @extend %as-wide-as-container;
      }
    }
  }
