// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/*----------- Typography -----------*/

$body-font: 'Roboto Mono', monospace, sans-serif;
$headings-font: 'Lato', sans-serif;
$mono-font: 'Roboto Mono', monospace, sans-serif;

$body-font-size: 16px;
$large-title-size: 3rem;
$heading-font-size: 2rem;
$subheading-font-size: 1.75rem;
$lowest-heading-font-size: 1.5rem;

$larger-text-size: 1.5rem;


/*----------- Colors -----------*/

$body-background: rgb(0, 0, 0);
$body-color: rgb(255, 255, 255);


/*----------- Misc -----------*/

$projects: (
                (charon, #59c1e6, #fff, #FED766),
                (virtual-observatory, #e9ecf6, #636990, #1E5FC9),
                (serieslist, #7767c4, #fff, #A89ED9),
);


/*----------- Sizes -----------*/

$generic-margin-bottom: 1rem;

$accent-margin: 15px;
// Width scales with font size so big headings have wider accent
$accent-width: 1em;
$accent-thickness: 5px;

$header-padding:      5rem;
$header-main-padding: 7.5rem;

$footer-padding: 10rem;

$container-width: 720px;
$wider-than-container-size: 40px;

$column-gap: 10px;

$icon-size: 40px;

$modal-width: 90%;
$modal-outer-padding: 8vh;
$modal-inner-padding: 1rem;

$project-tags-padding: 10px;

$img-border-bottom-width: 8px;

$project-page-title-margin-top:    3rem;
$project-page-title-margin-bottom: 2rem;
