.Footer {
  padding: 10rem 0;
  text-align: center;
}

.Text {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.Icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Icon {
  padding-left: 10px;
  padding-right: 10px;
}
