@import '../styles/_abstracts/all';

.Icon {
  display: block;
  width: 33px;
  height: 33px;
  fill: rgba(255, 255, 255, 0.6);
  transition: all $animation-duration $easing;

  &:hover {
    transform: scale(1.1);
    fill: rgba(255, 255, 255, 1);
  }
}
