/*----------- Typography -----------*/

$body-font: 'Roboto Mono', monospace;
$body-font-size: 16px;

$font-weight-regular: 400;

$heading-font: 'Lato', sans-serif;
$heading-font-size: 2rem;
$subheading-font-size: 1.75rem;


/*----------- Colors -----------*/

$body-background: rgb(0, 0, 0);
$body-color: rgb(255, 255, 255);

$primary-color: rgb(89, 193, 230);


/*----------- Animation -----------*/

$easing: ease-in;
$animation-duration: 250ms;
$animation-duration-long: 750ms;
