/*----------- Typography -----------*/

$body-font: 'Roboto Mono', monospace;
$body-font-size: 16px;

$font-weight-regular: 400;

$heading-font: 'Lato', sans-serif;
$heading-font-size: 2rem;
$subheading-font-size: 1.75rem;


/*----------- Colors -----------*/

$body-background-gradient-top: rgb(0, 27, 65);
$body-background-gradient-bottom: rgb(0, 0, 0);
$body-background: linear-gradient($body-background-gradient-top, $body-background-gradient-bottom);

$body-color: rgb(255, 255, 255);

$primary-color: rgb(89, 193, 230);

$projects: (
  (charon, rgb(89, 193, 230)),
  (virtual-observatory, rgb(30, 95, 201)),
  (serieslist, rgb(119, 103, 196)),
);


/*----------- Sizes -----------*/

$container-width: 720px;
$wider-than-container-margin: -40px;


/*----------- Animation -----------*/

$easing: ease-in;
$animation-duration: 250ms;
$animation-duration-long: 750ms;
