// -----------------------------------------------------------------------------
// This file contains all styles related to the icon component.
// -----------------------------------------------------------------------------
@import '../abstracts/all';


$icon-size: 23px;
$icon-size-medium: 33px;
$icon-size-large: 40px;


.icon {
  height: $icon-size;
  width: $icon-size;
}

  .icon--large {
    height: $icon-size-large;
    width: $icon-size-large;
  }

  .icon--medium {
    height: $icon-size-medium;
    width: $icon-size-medium;
  }

  .icon--cv {
    display: block;
    height: 25px;
    width: 50px;
  }
