// -----------------------------------------------------------------------------
// This file contains all styles related to the modal component.
// -----------------------------------------------------------------------------
@import '../abstracts/all';


.tingle-modal {
  padding-top:    $modal-outer-padding;
  padding-bottom: $modal-outer-padding;

  overflow-y: scroll;
}

.tingle-modal-box {
  width: $modal-width;

  @media (max-width: 540px) {
    // This is the width Tingle uses
    width: 100%;
  }
}

  .tingle-modal-box__content {
    padding: $modal-inner-padding;

    color: #333;

    > p {
      margin-bottom: 0;
    }
  }
