---
layout: default
---

<header class="header  header--main">

    <div class="header__background">
        <h1 class="header__title">Joosep<br>Alviste</h1>
    </div>

    <div class="header__empty"></div>

    <div class="header__content">
        <pre>
$me = [
&nbsp;&nbsp;&nbsp;&nbsp;'name' => 'Joosep Alviste',
&nbsp;&nbsp;&nbsp;&nbsp;'skills' => [
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'Web development', 'Full-stack',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'PHP', 'Laravel', 'Node.js',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'JavaScript', 'Vue.js', 'React',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'SCSS',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'Continuous integration',<wbr>'Travis CI',
&nbsp;&nbsp;&nbsp;&nbsp;],
];
        </pre>
    </div>

</header>

{% assign projects = site.pages | where: "type", "project" | sort: "order" %}

{% for project in projects %}
    {% include project-section.html project=project %}
{% endfor %}
