---
layout: default
---

<div class="floating-back-button">
    <a class="floating-back-button__link" href="/#{{ page.slug }}-section">
        &larr; Back
    </a>
</div>

<div class="project-page" data-project="{{ page.slug }}">
    <header class="header">
        <h1 class="title--large  has-accent  has-accent--bottom">
            {{ page.title }}
        </h1>
    </header>

    <article class="project-page__content container">
        {% capture image_url %}/assets/img/{{ page.slug }}.png{% endcapture %}
        <img
                src="{{ image_url | relative_url }}"
                alt="{{ page.title }} screenshot"
        >

        {{ page.content | markdownify }}
    </article>
</div>



<script src="/assets/js/vendor/tingle.min.js"></script>
<script src="/assets/js/project.js"></script>
