// -----------------------------------------------------------------------------
// This file contains all styles related to the container of the site.
// -----------------------------------------------------------------------------
@import '../abstracts/all';


.container {
  max-width: $container-width;
  margin: 0 auto;

  @include until-container {
    padding-left:  $column-gap * 2;
    padding-right: $column-gap * 2;
  }
}
