// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site.
// -----------------------------------------------------------------------------
@import '../abstracts/all';


$footer-icon-padding: 13px;
$footer-icon-color: rgba(255, 255, 255, 0.6);
$footer-icon-hover-color: rgba(255, 255, 255, 1);
$footer-icon-hover-zoom: 1.1;


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $footer-padding 0;

  text-align: center;
}

  .footer__text {
    position: relative;
    margin-bottom: 2rem;

    font-size: $larger-text-size;

    @include until-container {
      // Otherwise the email is too long for small devices
      font-size: $larger-text-size - 0.25rem;
    }

    @include until-smallest-screen {
      // Otherwise the email is too long for the smallest devices
      font-size: 1rem;
    }
  }

  .footer__icons {
    display: flex;
    align-items: center;
  }

  .footer__icon-container {
    padding-left: $footer-icon-padding;
    padding-right: $footer-icon-padding;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  .footer__icon-link {
    display: block;
    border-bottom: none;
  }

  .footer__icon {
    fill: $footer-icon-color;
  }

  .footer__icon--copy {
    transition: all $animation-duration-short ease-in;
    cursor: pointer;

    &:hover {
      fill: $footer-icon-hover-color;
    }
  }

  .footer__icon--hover-zoom {
    transition: all $animation-duration-short ease-in;

    > g {
      fill: $footer-icon-color;
      transition: all $animation-duration-short ease-in;
    }

    &:hover {
      transform: scale($footer-icon-hover-zoom);

      > g {
        fill: $footer-icon-hover-color;
      }
    }
  }
