// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------


.header {
  padding-top:    $header-padding;
  padding-bottom: $header-padding;

  text-align: center;

  &.header--main {
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    padding-top:    0;
    padding-bottom: 0;

    overflow: hidden;

    > .header__content {
      padding-bottom: $header-main-padding;
      text-align: left;

      z-index: 2;
    }
  }
}

  .header__content {
    padding-left:  $column-gap;
    padding-right: $column-gap;

    font-size: 1.15rem;
  }

  .header__background {
    position: absolute;
    bottom: 25px;
    left:   35px;

    overflow: hidden;
  }

    .header__title {
      opacity: 0.1;
      font-size: 16rem;
      line-height: 1.15;
      text-align: left;
      font-weight: 700;
      font-family: $mono-font;

      user-select: none;
      cursor: default;

      overflow: hidden;

      @include until-container {
        font-size: 5rem;
      }
    }
